.Principal-logo {
    height: 5em;
    margin-right: 1em;
}

.Principal-banner {
    height: 38em;
    width: 94%;
    margin-left: 3%;
}

.Principal-banner-image {
    height: 9em;
    margin-top: 0.5em;
}


.Principal-favorito-image {
    height: 15em;
    margin-top: 0.5em;
}

.Principal-carrinho-image {
    height: 8em;
    margin-top: 0.5em;
}